---
layout: default
---

*simple4tests aims to provide methodology and simple tools to support developers and testers while building maintainable
and reliable automated tests*

## WebDriverInteractions

WebDriverInteractions is a set of functions you can integrate in your selenium test automation framework to manage
automaticaly several technical stuff like waits, scrolling and much more.

**You have less to care about it, keeping the code clean and focused on the test purpose**

{% include ext_jv1b.html %}

| selenium | wdi |
| -------- | --- |
| {% include ext_jv1b.html %} | {% include ext_jv2b.html %} |

{% include ext_jv2b.html %}

![se](https://simple4tests.github.io/interactions-webdriver/assets/images/01_se.png)
![wdi](https://simple4tests.github.io/interactions-webdriver/assets/images/01_wdi.png)

For more information,
see [the WebDriver Interactions documentation](https://simple4tests.github.io/interactions-webdriver/)

### Support or Contact

Having trouble or questions? Contact us at simple4tests@gmail.com
