<center>
    <p {% if page.url=="/method/method.html" %}hidden{% endif %}>
        <a href="/method/method.html"><img src="/assets/images/interactions_pattern_00_overview.png"></a></p>
    <p {% if page.url!="/method/method.html" %}hidden{% endif %}>
        <img src="/assets/images/interactions_pattern_00_overview.png"></p>
    <p {% if page.url=="/method/method.html" %}hidden{% endif %}><b>Enforce maintainability of automated tests</b></p>
    <p {% if page.url=="/method/method.html" %}hidden{% endif %}>For more information,
        see <a href="/method/method.html">the Simple Methodology documentation</a></p>
    <p {% if page.url!="/method/method.html" %}hidden{% endif %}>Concrete implementation in <a
            href="https://github.com/simple4tests/ohrm-tests">ohrm-tests</a> github repository.</p>
    <p>Implement test automation best practices with <a href="/webdriver/overload.html">webdriver-overload</a>.</p>
</center>
