<h3>Objects</h3>
<p>Notice that main of the function are already knowned by selenium expert. We try, as much as possible, to keep
    same name and parameters as native selenium in order to reduce the awareness effort.</p>
<p>We include in the documentation the main selenium function embeded in the WebDriver Interactions function.</p>
<table>
    <tr>
        <th style="width: 30%;">Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>WebDriverInteractions</td>
        <td>
            Includes functions to interact with the elements in a page as well as the following objects
            <ul>
                <li>WebDriver</li>
                <li>JavascriptExecutor</li>
                <li>Wait</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>WebDriver</td>
        <td>The WebDriver itself used for direct calls to WebDriver functions</td>
    </tr>
    <tr>
        <td>JavascriptExecutor</td>
        <td>A JavascriptExecutor object to execute javascript</td>
    </tr>
    <tr>
        <td>Wait</td>
        <td>Dynamic wait engine based on a FluentWait with fancy configurations</td>
    </tr>
</table>
<hr>
<h3>WebDriverInteractions functions</h3>
<h4>Constructor</h4>
<table>
    <tr>
        <th style="width: 30%;">Name</th>
        <th style="width: 70%;">Description</th>
    </tr>
    <tr>
        <td>
            WebDriverInteractions(<br>
            &nbsp;&nbsp;&nbsp;&nbsp;WebDriver driver)
        </td>
        <td>
            WebDriverInteractions constructor initializating a Browser, a Wait and a JavaScript objects with defaut
            settings
        </td>
    </tr>
</table>
<h4>Get elements or element information</h4>
<table>
    <tr>
        <th style="width: 30%;">Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>
            getElement(By by)
        </td>
        <td>Once present, return a WebElement matching the locator</td>
    </tr>
    <tr>
        <td>
            getInteractableElement(By by)
        </td>
        <td>
            Once interactable, return a WebElement matching the locator.<br>
            Same as getInteractableElement(by, false, true, true)
        </td>
    </tr>
    <tr>
        <td>
            getInteractableElement(<br>
            &nbsp;&nbsp;&nbsp;&nbsp;By by,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;boolean waitUntilElementIsDisplayed,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;boolean waitUntilElementIsEnabled,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;boolean scrollIntoView)
        </td>
        <td>Once interactable, return a WebElement matching the locator</td>
    </tr>
    <tr>
        <td>count(By by)</td>
        <td>Return the number of elements matching the locator</td>
    </tr>
    <tr>
        <td>
            isPresent(By by)
        </td>
        <td>Return true is there are one or more elements matching the locator</td>
    </tr>
    <tr>
        <td>
            isAbsent(By by)
        </td>
        <td>Return true is there are 0 elements matching the locator</td>
    </tr>
</table>
<h4>Interact with elements</h4>
<table>
    <tr>
        <th style="width: 30%;">Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>click(By by)</td>
        <td>
            <p>Once interactable, click on the element matching the locator</p>
            Selenium : WebElement.click()
        </td>
    </tr>
    <tr>
        <td>dblclick(By by)</td>
        <td>
            <p>Once interactable, double click on the element matching the locator</p>
            Selenium : n/a
        </td>
    </tr>
    <tr>
        <td>
            clearAll(boolean alwaysClear)
        </td>
        <td>
            <p>If true, sendKeys() will always clear the element before setting the new value.</p>
            <b>Default is false</b> (do not clear before setting the value).
        </td>
    </tr>
    <tr>
        <td>clearNext(boolean alwaysClear)</td>
        <td>
            <p>This function configure the next call to sendKeys() to clear or not the element before setting the new value.</p>
            <p>Return a WebDriverInteractions object</p>
            <ul>
                <li>Assuming clearall = false, set the value : sendKeys(by, value)</li>
                <li>Assuming clearall = false, clear and set the value : clearNext(true).sendKeys(by, value)</li>
            </ul>
            <b><i>The call of this function affects only the first following sendKeys() action</i></b>
        </td>
    </tr>
    <tr>
        <td>clear(By by)</td>
        <td>Once interactable, clear input and textarea element matching the locator</td>
    </tr>
    <tr>
        <td>
            sendKeys(<br>
            &nbsp;&nbsp;&nbsp;&nbsp;By by,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;CharSequence... value)
        </td>
        <td>
            <p>Once interactable, set the value of the (input) element</p>
            Selenium : WebElement.sendkeys()
        </td>
    </tr>
    <tr>
        <td>
            upload(<br>
            &nbsp;&nbsp;&nbsp;&nbsp;By by,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;String fileAbsolutePath)
        </td>
        <td>
            <p>Once interactable, upload a file using an input element</p>
            Selenium : WebElement.sendkeys()
        </td>
    </tr>
    <tr>
        <td>setSelected(By by, Boolean value)</td>
        <td>
            <p>Once interactable, set the property 'selected' of an (checkbox, radio btn) element </p>
            Selenium : WebElement.click()
        </td>
    </tr>
    <tr>
        <td>
            Select getSelect(By by)<br>
            selectByVisibleText(<br>
            &nbsp;&nbsp;&nbsp;&nbsp;By by,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;String visibleText)<br>
            selectByValue(<br>
            &nbsp;&nbsp;&nbsp;&nbsp;By by,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;String value)<br>
            selectByIndex(<br>
            &nbsp;&nbsp;&nbsp;&nbsp;By by,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;int index)
        </td>
        <td>
            <p>Once interactable, return a Select or perform the corresponding action</p>
            Selenium : new Select(by) or new Select(by).xxx
        </td>
    </tr>
</table>
<h4>Others functions</h4>
<table>
    <tr>
        <th style="width: 30%;">Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>getAlert()</td>
        <td>One present, return the alert element</td>
    </tr>
    <tr>
        <td>switchToDefaultContent()</td>
        <td>
            <p>Switch to the default content (top of the page) of the current page</p>
            Selenium : driver.switchTo().defaultContent()
        </td>
    </tr>
    <tr>
        <td>switchToParentFrame()</td>
        <td>
            <p>Switch to the parent frame of the current frame</p>
            Selenium : driver.switchTo().parentFrame();
        </td>
    </tr>
    <tr>
        <td>switchToFrame(By by)</td>
        <td>Once available, switch to the frame identified by its locator</td>
    </tr>
    <tr>
        <td>switchToFrame(int index)</td>
        <td>Once available, switch to the frame identified by its index</td>
    </tr>
    <tr>
        <td>switchToFrame(String nameOrId)</td>
        <td>Once available, switch to the frame identified by its name or ID</td>
    </tr>
    <tr>
        <td>switchToTab(int index)</td>
        <td>
            <p>Once present, show tab with the given index</p>
            Selenium : driver.switchTo().window()
        </td>
    </tr>
    <tr>
        <td>closeTab()</td>
        <td>
            <p>Close current tab</p>
            Selenium : driver.close()
        </td>
    </tr>
    <tr>
        <td>
            setScrollIntoViewOptions(<br>
            &nbsp;&nbsp;&nbsp;&nbsp;String behavior,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;String block,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;String inline)
        </td>
        <td>
            Set scrollIntoView javascript command parameters<br>
            Default values :<br>
            <ul>
                <li>public static final String DEFAULT_SCROLL_BEHAVIOR = "auto";</li>
                <li>public static final String DEFAULT_SCROLL_BLOCK = "center";</li>
                <li>public static final String DEFAULT_SCROLL_INLINE = "center";</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            scrollIntoView(<br>
            &nbsp;&nbsp;&nbsp;&nbsp;WebElement webElement)
        </td>
        <td>
            <p>Scroll the page to display the element as specified by the scrollIntoView's options.</p>
            By default, the element is displayed in the middle of the page.
        </td>
    </tr>
    <tr>
        <td>
            scrollIntoView(<br>
            &nbsp;&nbsp;&nbsp;&nbsp;WebElement webElement,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;String behavior,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;String block,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;String inline)
        </td>
        <td>Call the scrollIntoView function with custom settings</td>
    </tr>
</table>
<hr>
<h3>Wait functions</h3>
<table>
    <tr>
        <th style="width: 30%;">Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Wait(WebDriver driver)</td>
        <td>Public constructor</td>
    </tr>
    <tr>
        <td>
            pollingEvery(Duration interval)
        </td>
        <td>
            <p>Set the interval to be used while performing the checks</p>
            public static final Duration DEFAULT_INTERVAL = Duration.ofMillis(50)
        </td>
    </tr>
    <tr>
        <td>withTimeout(Duration timeout)</td>
        <td>
            <p>Set the timeout to be used to perform the checks</p>
            public static final Duration DEFAULT_TIMEOUT = Duration.ofMillis(10000);
        </td>
    </tr>
    <tr>
        <td>ignoreAll(Collection exceptions)</td>
        <td>List exceptions to be ignored when performing the checks</td>
    </tr>
    <tr>
        <td>ignoreTimeoutException()</td>
        <td>
            <p>By default the engine wait for a condition that must be realized.
                If not, there is a failure and the test stops with failed status.
                Some times we need to wait for a condition that may be realized (or not). </p>
            <p>This function configure the wait engine to wait for a condition to be realized and if not relalized
                to continue the test.</p>
            <p>Return a Wait object</p>
            <ul>
                <li>
                    wait.elementToBePresent(By by) :<br>
                    if the condition is not realized the test stop with status failed
                </li>
                <li>
                    wait.catchTimeoutException().elementToBePresent(By by) :<br>
                    if the condition is not realized the test continue
                </li>
            </ul>
            <b><i>The call of this function affects only the first following wait</i></b>
        </td>
    </tr>
    <tr>
        <td>until(Function expectedCondition)</td>
        <td>
            <p>This functions wait for the expectedCondition to be relazided and return the result of the
                expectedCondition</p>
            <ul>
                <li>
                    wait.until(<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;ExpectedConditions.textToBePresentInElement(element, text))
                </li>
                <li>wait.until(input -> 0 < driver.findElements(by).size())</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            until(<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Function expectedCondition,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;final Duration interval,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;final Duration timeout)<br>
            until(<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Function expectedCondition,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;final Collection ignoredExceptions)<br>
            until(<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Function expectedCondition,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;final Duration interval,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;final Duration timeout,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;final Collection ignoredExceptions)<br>
        </td>
        <td>Wait for the expectedCondition with specific settings and return the result of the expectedCondition</td>
    </tr>
    <tr>
        <td>
            <b>static</b> until(<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Function expectedCondition,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;WebDriver driver,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Duration interval,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Duration timeout,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Collection ignoredExceptions)
        </td>
        <td>Wait for the expectedCondition with custom settings and return the result of the expectedCondition</td>
    </tr>
</table>
