<section>
    <h3>In the box</h3>
    <p>WebDriver Interactions compiles a set of functions you can easely integrate in your Selenium WebDriver
        framework to manage technical stuff automaticaly</p>
    <table style="border-collapse: collapse; border: none;">
        <tr style="border: hidden;">
            <th style="width: 50%; border: hidden;">Automatic behavior</th>
            <th style="border: hidden;">Configurable behavior</th>
        </tr>
        <tr style="border: hidden;">
            <td style="border: hidden;">
                <ul>
                    <li>wait for the presence of an element before accessing its properties</li>
                    <li>wait for a certain state of an element before interacting with it</li>
                    <li>wait for the presence of an element before switching to it</li>
                    <li>scroll the element into view before interacting with it</li>
                    <li>if the locator is Null do nothing</li>
                    <li>if the value is Null do nothing</li>
                </ul>
            </td>
            <td style="border: hidden;">
                <ul>
                    <li>clear field(s) before setting the value</li>
                    <li>wait for a condition that may be realized or not</li>
                </ul>
            </td>
        </tr>
    </table>
</section>
