<section>
    <!--    <h3 {% if page.url=="/" %}hidden{% endif %}>Showcase</h3>-->
    <center>
        <p {% if page.url=="/webdriverinteractions/webdriverinteractions.html" %}hidden{% endif %}>
            <a href="/webdriverinteractions/webdriverinteractions.html"><img src="/assets/images/se_vs_wdi_01.png"></a>
        </p>
        <p {% if page.url!="/webdriverinteractions/webdriverinteractions.html" %}hidden{% endif %}><img src="/assets/images/se_vs_wdi_01.png"></p>
        <p {% if page.url=="/webdriverinteractions/webdriverinteractions.html" %}hidden{% endif %}>
            <b>Keep your Selenium WebDriver tests clean and focused on the test purpose</b></p>
        <p {% if page.url=="/webdriverinteractions/webdriverinteractions.html" %}hidden{% endif %}>For more information,
            see <a href="/webdriverinteractions/webdriverinteractions.html">the WebDriver Interactions documentation</a>
        </p>
        <p {% if page.url!="/webdriverinteractions/webdriverinteractions.html" %}hidden{% endif %}>More examples available in <a
                href="https://github.com/simple4tests/wdi-ex-junit">wdi-ex-junit</a> github repository.</p>
    </center>
</section>
