<section>
    <h3>Usage</h3>
    1. Add dependency on your pom.xml file

    {% highlight java %}
    <dependency>
        <groupId>io.github.simple4tests</groupId>
        <artifactId>interactions-webdriver</artifactId>
        <version>...</version>
    </dependency>
    {% endhighlight %}

    2. Instanciate a WebDriverInteractions object

    {% highlight java %}
    WebDriver driver;
    ...
    driver = new ChromeDriver();
    ...
    WebDriverInteractions ui = new WebDriverInteractions(driver);
    {% endhighlight %}

    3. Just use it

    {% highlight java %}
    ui.browser.navigateTo(...);
    ui.click(...);
    ui.set(...);
    ...
    {% endhighlight %}
</section>
<br>
<section>
    <h4>Alternative</h4>
    <p>Even WebDriverInteractions object can be used strait foraward as shown previuosly, the recommendation is, in your
        test project, to create a class Wdi that extends WebdriverInteractions.</p>

    {% highlight java %}
    public class Wdi extends WebDriverInteractions {
    public Wdi(WebDriver driver) { super(driver); }
    }
    {% endhighlight %}

    <p>This way, you will be able to create your custom technical actions based on WebDriverInteractions and all
        technical actions (custom or not) will be accessible from a single object.</p>
</section>
<br>
