<section>
    <h3>Objects</h3>
    <p>Notice that main of the function are already knowned by selenium expert. We try, as much as possible, to keep
        same name and parameters as native selenium in order to reduce the awareness effort.</p>
    <p>We include in the documentation the main selenium function embeded in the WebDriver Interactions function.</p>
    <table>
        <tr>
            <th style="width: 30%;">Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>WebDriverInteractions</td>
            <td>
                Includes functions to interact with the elements in a page as well as the following
                objects
                <ul>
                    <li>Browser</li>
                    <li>JavaScript</li>
                    <li>Wait</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Browser</td>
            <td>Includes functions to interact with the browser</td>
        </tr>
        <tr>
            <td>JavaScript</td>
            <td>Single function to execute javascript</td>
        </tr>
        <tr>
            <td>Wait</td>
            <td>Dynamic wait engine based on a FluentWait with fancy configurations</td>
        </tr>
    </table>
    <hr>
    <h3>WebDriverInteractions functions</h3>
    <table>
        <tr>
            <th style="width: 30%;">Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                WebDriverInteractions(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;WebDriver driver)
            </td>
            <td>
                Public constructor; <br>
                Initialize Browser, Wait and JavaScript Objects with defaut settings
            </td>
        </tr>
        <tr>
            <td>
                WebElement getElement(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;By by)
            </td>
            <td>Return the element matching the locator once the element is present</td>
        </tr>
        <tr>
            <td>
                WebElement getInteractableElement(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;By by)
            </td>
            <td>Return the element matching the locator once the element is ready for interactions</td>
        </tr>
        <tr>
            <td>
                boolean isElementPresent(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;By by)
            </td>
            <td>Return true is there are more than 0 elements in the page matching the locator</td>
        </tr>
        <tr>
            <td>int countElements(By by)</td>
            <td>Return the number of elements in the page matching the locator</td>
        </tr>
        <tr>
            <td>clear(By by)</td>
            <td>Clear input and textarea element matching the locator</td>
        </tr>
        <tr>
            <td>WebDriverInteractions clear()</td>
            <td>
                <p>By default input and textarea elements are not cleared before setting a value.
                    Some times we need to clear the element to avoid the values to be concatenated.</p>
                <p>This function configure the set function to clear the element before setting the new value.</p>
                <ul>
                    <li>Set the value : set(by, value)</li>
                    <li>Clear and set the value : clear().set(by, value)</li>
                </ul>
                <b><i>The call of this function affects only the first following set action</i></b>
            </td>
        </tr>
        <tr>
            <td>
                setClearOption(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;boolean alwaysClear)
            </td>
            <td>
                If set to true, the set() function will always clear the element before setting the new value.<br>
                <b>Default is false</b> (do not clear before setting the value).
            </td>
        </tr>
        <tr>
            <td>
                set(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;By by,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;CharSequence... value)
            </td>
            <td>
                Set the value of the (input) element<br>
                Selenium : WebElement.sendkeys()
            </td>
        </tr>
        <tr>
            <td>select(By by, Boolean value)</td>
            <td>
                Set the property 'selected' of an (checkbox, radio btn) element <br>
                Selenium : WebElement.click()
            </td>
        </tr>
        <tr>
            <td>
                selectByVisibleText(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;By by,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;String text)
            </td>
            <td>
                Select a value in a dropdown list<br>
                Selenium : Select().selectByVisibleText()
            </td>
        </tr>
        <tr>
            <td>click(By by)</td>
            <td>
                Click on the element matching the locator<br>
                Selenium : WebElement.click()
            </td>
        </tr>
        <tr>
            <td>
                upload(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;By by,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;String fileAbsolutePath)
            </td>
            <td>
                Upload a file using an input element<br>
                Selenium : WebElement.sendkeys()
            </td>
        </tr>
        <tr>
            <td>String getText(By by)</td>
            <td>
                Return the text of an element<br>
                Selenium : WebElement.getText()
            </td>
        </tr>
        <tr>
            <td>
                String getAttribute(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;By by,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;String attribute)
            </td>
            <td>
                Return the attribute's value of an element<br>
                Selenium : WebElement.getAttribute()
            </td>
        </tr>
        <tr>
            <td>switchToMainFrame()</td>
            <td>
                Switch to the main frame of the current page<br>
                Selenium : driver.switchTo().defaultContent()
            </td>
        </tr>
        <tr>
            <td>switchToParentFrame()</td>
            <td>
                Switch to the parent frame of the current frame<br>
                Selenium : driver.switchTo().parentFrame();
            </td>
        </tr>
        <tr>
            <td>switchToFrame(By by)</td>
            <td>Switch to the frame identified by its locator</td>
        </tr>
        <tr>
            <td>switchToFrame(int index)</td>
            <td>Switch to the frame identified by its index</td>
        </tr>
        <tr>
            <td>
                switchToFrame(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;String nameOrId)
            </td>
            <td>Switch to the frame identified by its name or ID</td>
        </tr>
    </table>
    <hr>
    <h3>Browser functions</h3>
    <table>
        <tr>
            <th style="width: 30%;">Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                Browser(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;WebDriver driver,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Wait wait,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;JavaScript javaScript)
            </td>
            <td>Public constructor</td>
        </tr>
        <tr>
            <td>get(String url)</td>
            <td>
                Open the browser with the given url<br>
                Selenium : driver.get()
            </td>
        </tr>
        <tr>
            <td>navigateTo(String url)</td>
            <td>
                Navigate to the given url<br>
                Selenium : driver.navigate().to()
            </td>
        </tr>
        <tr>
            <td>String getCurrentUrl()</td>
            <td>
                Get the current url<br>
                Selenium : driver.getCurrentUrl()
            </td>
        </tr>
        <tr>
            <td>Alert getAlert()</td>
            <td>Get the alert element</td>
        </tr>
        <tr>
            <td>
                setScrollIntoViewOptions(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;String behavior,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;String block,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;String inline)
            </td>
            <td>
                Set scrollIntoView javascript command parameters<br>
                Default values :<br>
                <ul>
                    <li>public static final String DEFAULT_SCROLL_BEHAVIOR = "auto";</li>
                    <li>public static final String DEFAULT_SCROLL_BLOCK = "center";</li>
                    <li>public static final String DEFAULT_SCROLL_INLINE = "center";</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                scrollIntoView(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;WebElement webElement)
            </td>
            <td>
                <p>Scroll the page to display the element as specified by the scrollIntoView's options.</p>
                By default, the element is displayed in the middle of the page.
            </td>
        </tr>
        <tr>
            <td>
                scrollIntoView(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;WebElement webElement,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;String behavior,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;String block,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;String inline)
            </td>
            <td>Call the scrollIntoView function with custom settings</td>
        </tr>
        <tr>
            <td>switchToFirstTab()</td>
            <td>
                Show tab with the index 0<br>
                Selenium : driver.switchTo().window()
            </td>
        </tr>
        <tr>
            <td>switchToTab(int index)</td>
            <td>
                Show tab with the given index<br>
                Selenium : driver.switchTo().window()
            </td>
        </tr>
        <tr>
            <td>closeTab()</td>
            <td>
                Close current tab<br>
                Selenium : driver.close()
            </td>
        </tr>
        <tr>
            <td>quit()</td>
            <td>
                close the browser<br>
                Selenium : driver.quit()
            </td>
        </tr>
    </table>
    <hr>
    <h3>Wait functions</h3>
    <table>
        <tr>
            <th style="width: 30%;">Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Wait(WebDriver driver)</td>
            <td>Public constructor</td>
        </tr>
        <tr>
            <td>
                Wait pollingEvery(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Duration interval)
            </td>
            <td>
                Set the interval to be used while performing the checks<br>
                public static final Duration DEFAULT_INTERVAL = Duration.ofMillis(50)
            </td>
        </tr>
        <tr>
            <td>
                Wait withTimeout(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Duration timeout)
            </td>
            <td>
                Set the timeout to be used to perform the checks<br>
                public static final Duration DEFAULT_TIMEOUT = Duration.ofMillis(10000);
            </td>
        </tr>
        <tr>
            <td>
                Wait ignoreAll(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Collection... exceptions)
            </td>
            <td>List exceptions to be ignored when performing the checks</td>
        </tr>
        <tr>
            <td>Wait catchTimeoutException()</td>
            <td>
                <p>By default the engine wait for a condition that must be realized.
                    If not, there is a failure and the test stops with failed status.
                    Some times we need to wait for a condition that may be realized (or not). </p>
                <p>This function configure the wait engine to wait for a condition to be realized and if not relalized
                    to
                    continue the test.</p>
                <ul>
                    <li>
                        wait.elementToBePresent(By by) :<br>
                        if the condition is not realized the test stop with status failed
                    </li>
                    <li>
                        wait.catchTimeoutException().elementToBePresent(By by) :<br>
                        if the condition is not realized the test continue
                    </li>
                </ul>
                <b><i>The call of this function affects only the first following wait</i></b>
            </td>
        </tr>
        <tr>
            <td>
                Boolean elementToBePresent(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;By by)
            </td>
            <td>Wait for the element to exist in the page</td>
        </tr>
        <tr>
            <td>
                &lt;T&gt; T until(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Function... expectedCondition)
            </td>
            <td>
                This functions wait for the expectedCondition to be relazided<br>
                ex :
                <ul>
                    <li>
                        wait.until(<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;ExpectedConditions.textToBePresentInElement(element, text))
                    </li>
                    <li>wait.until(input -> 0 < driver.findElements(by).size())</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <b>static</b> &lt;T&gt; T until(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Function... expectedCondition,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;WebDriver driver)
            </td>
            <td>
                Wait for the expectedCondition with default settings
            </td>
        </tr>
        <tr>
            <td>
                <b>static</b> &lt;T&gt; T until(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Function... expectedCondition,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;WebDriver driver,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Duration interval,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Duration timeout,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Collection... exceptions)
            </td>
            <td>
                Wait for the expectedCondition with custom settings
            </td>
        </tr>
    </table>
    <hr>
    <h3>JavaScript functions</h3>
    <table>
        <tr>
            <th style="width: 30%;">Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>JavaScript(WebDriver driver)</td>
            <td>Public constructor</td>
        </tr>
        <tr>
            <td>
                execute(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;String script,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Object... args)
            </td>
            <td>Execute a script using a JavaScriptExecutor</td>
        </tr>
        <tr>
            <td>
                <b>static</b> void execute(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;WebDriver driver,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;String script,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Object... args)
            </td>
            <td>Execute a script using a JavaScriptExecutor</td>
        </tr>
    </table>
</section>
