<h3>Usage</h3>
1. Add dependency on your pom.xml file

{% highlight java %}
<dependency>
    <groupId>io.github.simple4tests</groupId>
    <artifactId>interactions-webdriver</artifactId>
    <version>...</version>
</dependency>
{% endhighlight %}

2. Instanciate a WebDriverInteractions object

{% highlight java %}
WebDriver driver;
...
driver = new ChromeDriver();
...
WebDriverInteractions wdi = new WebDriverInteractions(driver);
{% endhighlight %}

3a. Use WebDriver Interactions functions

{% highlight java %}
wdi.click(by);
wdi.sendKeys(by,value);
wdi. ...
{% endhighlight %}

3b. Use native WebDriver functions

{% highlight java %}
wdi.driver.navivate().to(myUrl);
wdi.driver.getCurrentUrl();
wdi.driver.findElement(by);
wdi.driver. ...
{% endhighlight %}

<h4>Recommended implementation</h4>
<p>Even WebDriverInteractions object can be used straight forward as shown previuosly, the recommendation is to
    create in your project a class Wdi that extends WebdriverInteractions. This way, you will be able to easely
    customize WebDriverInteractions creating your custom technical actions based on WebDriverInteractions.</p>

{% highlight java %}
public class MyWebDriverInteractions extends WebDriverInteractions {
    public MyWebDriverInteractions(WebDriver driver) { super(driver); }

    // custom technical action to select a value within a custom dropdown
    public void selectInList(By by, String value) {... doSomething(); ...}
}
{% endhighlight %}

<p>Then instanciate your newly class Wdi and you are ready to play with WebDriverInteractions functions as well as
    your custom functions. All ot them from a single object.</p>

{% highlight java %}
WebDriver driver;
...
driver = new ChromeDriver();
...
MyWebDriverInteractions wdi = new MyWebDriverInteractions(driver);
wdi.driver.navivate().to(url);
wdi.click(by);
wdi.sendKeys(by,value);
wdi.selectInList(by,value);
...
{% endhighlight %}
