<section>
    <h3 {% if page.url == "/" %}hidden{% endif %}>Showcase</h3>
    <center>
        <p>WebDriver Interactions compiles a set of functions you can easely integrate in your selenium automation
            framework to manage technical stuff automaticaly</p>
        <img src="/assets/images/se_vs_wdi.png">
        <p><b>You have less to care about it, keeping the code clean and focused on the test purpose</b></p>
        <p {% if page.url == "/webdriverinteractions/webdriverinteractions.html" %}hidden{% endif %}>For more information, see <a href="/webdriverinteractions/webdriverinteractions.html">the WebDriver Interactions documentation</a></p>
        <p {% if page.url == "/" %}hidden{% endif %}>More examples available in <a href="https://github.com/simple4tests/wdi-ex-junit">wdi-ex-junit</a>
            github repo. </p>
    </center>
</section>
