// Breakpoints
// $large-breakpoint: 64em !default;
$large-breakpoint: 75em !default;
// $medium-breakpoint: 42em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
// $header-bg-color: #159957 !default; VERT
$header-bg-color: #991578 !default;
// $header-bg-color-secondary: #155799 !default; BLEU
$header-bg-color-secondary: #571599 !default;

// Text
// $section-headings-color: #159957 !default;
$section-headings-color: #781599 !default;
// $body-text-color: #606c71 !default;
$body-text-color: #5e696e !default;
// $body-link-color: #1e6bb8 !default;
$body-link-color: #571599 !default;
$blockquote-text-color: #819198 !default;

// Code
// $code-bg-color: #f3f6fa !default;
$code-bg-color: #edf2f7 !default;
// $code-text-color: #567482 !default;
$code-text-color: #526d7a !default;

// Borders
$border-color: #dce6f0 !default;
// $table-border-color: #e9ebec !default;
$table-border-color: #e4e6e7 !default;
// $hr-border-color: #eff0f1 !default;
$hr-border-color: #f1f2f3 !default;
